{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
    <div id="hero">
        <h1>{{.Title}}</h1>
        <p>{{.Description}}</p>
    </div>
    <div id="action-buttons">
        <a class="button outline big" href="/">Lost? Head home.</a>
    </div>
    <!-- <div class="message focus" data-component="message"> <span class="close small"></span>
    <a class="button inverted small " href="https://imperavi.com/kube/" >Kube </a> from <a href="https://imperavi.com/">imperavi</a> is an awesome <mark>CSS & JS Framework</mark> and i designed this template for <a href="https://gohugo.io">hugo</a> with the same original philosophy !
  </div> -->
    </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
