  <footer id="footer">
    <nav>
      <ul>
        <li><span>doesn't look like anything to me</span></li>
        <!-- <li>
          <a href="/company/">Company</a>
        </li> -->
        <li>
          <a href="https://sobota.io">Blog</a>
        </li>
          <!-- <li>
          <a href="/docs/">Docs</a>
        </li> -->
        <li>
          <a href="https://twitter.com/{{.Site.Params.twitter}}"><img height="22" width="22" src="/img/common/icon-twitter.png"></a>
        </li>
      </ul>
    </nav>
    <p>&copy; sobota.dev</p>
  </footer>